* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Chakra Petch', sans-serif;
}

body {
  width: 100vw;
  background-color: #110038;
}

.content {
  background-color: #110038;
  height: 100%;
}

.visit_count {
  width: 100vw;
  height: 23px;
  margin: auto;
  background: -webkit-gradient(linear, left top, right top, from(#2e32fb), to(#ee3eef));
  background: linear-gradient(to right, #2e32fb 0%, #ee3eef 100%);
  -webkit-box-shadow: 0px 1px 0px 0px #110038;
          box-shadow: 0px 1px 0px 0px #110038;
}

.visit_count p {
  display: inline-block;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  vertical-align: middle;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

header .encabezado {
  width: 1200px;
  margin: auto;
}

.icon_btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 685.4px 144px 167px auto;
      grid-template-columns: 685.4px 144px 167px auto;
  grid-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
  width: 1200px;
  z-index: 1;
  background-color: #110038;
  margin-top: 1px;
}

.icon_btns .logo {
  content: url(../assets/gifOF_logo_dark.png);
  width: 100px;
  height: 50px;
}

.icon_btns .btn_creargifos {
  outline: none;
  color: #FFFFFF;
  width: 144px;
  height: 36px;
  border: 1px solid #110038;
  background-color: #EE3EFE;
  -webkit-box-shadow: inset -1px -1px 0px 0px #A72CB3, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #A72CB3, inset 1px 1px 0px 0px #FFFFFF;
  font-size: 16px;
}

.icon_btns .btn_creargifos:hover {
  cursor: pointer;
  background-color: #C336DB;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.icon_btns .btn_creargifos:active {
  cursor: pointer;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.icon_btns .btn_dropDown {
  width: 167px;
  height: 36px;
}

.icon_btns .btn_dropDown .btn_elegirtema {
  outline: none;
  width: 169px;
  height: 36px;
  background-color: #EE3EFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.icon_btns .btn_dropDown .btn_elegirtema .txtTema {
  color: #FFFFFF;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0px 0px #A72CB3, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #A72CB3, inset 1px 1px 0px 0px #FFFFFF;
  height: 36px;
  width: 131px;
  position: relative;
}

.icon_btns .btn_dropDown .btn_elegirtema .txtTema:hover {
  background-color: #CE36DB;
  cursor: pointer;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.icon_btns .btn_dropDown .btn_elegirtema .txtTema:hover::after {
  background-color: #CE36DB;
  cursor: pointer;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.icon_btns .btn_dropDown .btn_elegirtema .txtTema::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset -1px -1px 0px 0px #A72CB3, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #A72CB3, inset 1px 1px 0px 0px #FFFFFF;
  height: 34px;
  width: 36px;
  position: absolute;
  right: -39px;
  border: 1px solid #110038;
  content: url(../assets/dropdown.svg);
}

.icon_btns .btn_dropDown {
  position: relative;
  display: inline-block;
}

.icon_btns .btn_dropDown .btn_dropContent {
  display: none;
  padding: 0px;
  margin-top: 2px;
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0px 0px #8F8F8F, inset 2px 2px 0px 0px #FFFFFF;
          box-shadow: inset -2px -2px 0px 0px #8F8F8F, inset 2px 2px 0px 0px #FFFFFF;
  text-align: center;
  position: absolute;
}

.icon_btns .btn_dropDown .btn_dropContent li {
  margin: 10px;
  list-style: none;
  display: block;
  text-align: left;
}

.icon_btns .btn_dropDown .btn_dropContent li button {
  color: #110038;
  font-size: 16px;
  outline: none;
  background-color: #CCCCCC;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0px 0px #B4B4B4, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #B4B4B4, inset 1px 1px 0px 0px #FFFFFF;
  width: 148px;
  height: 36px;
  display: block;
  text-align: left;
  padding: 7px 16px;
}

.icon_btns .btn_dropDown .btn_dropContent li button:hover {
  cursor: pointer;
}

.icon_btns .btn_dropDown .btn_dropContent li button:active {
  background-color: #2E32FB;
  border: 1px solid rgba(51, 53, 143, 0.2);
  -webkit-box-shadow: inset -1px -1px 0px 0px #E6DCE4, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #E6DCE4, inset 1px 1px 0px 0px #FFFFFF;
}

.icon_btns .btn_dropDown .btn_dropContent li button:active span {
  text-decoration: underline;
}

.icon_btns .btn_dropDown .mostrar_dropContent {
  display: block;
}

.icon_btns .enlace_misGuifos {
  width: 95px;
  height: 38px;
  font-size: 16px;
  color: #FFFFFF;
  padding-top: 7px;
  padding-left: 2px;
  text-decoration: none;
  background-color: inherit;
}

.icon_btns .enlace_misGuifos span {
  text-decoration: underline;
}

.icon_btns .enlace_misGuifos:hover {
  cursor: pointer;
  outline: 1px dotted #FFFFFF;
  outline-offset: -4px;
}

.icon_btns .enlace_misGuifos:active {
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  outline-offset: none;
}

.imput_buscar {
  margin: 0px auto 0px auto;
  width: 1200px;
  height: 99px;
  -webkit-box-shadow: inset -2px -2px 0px 0px #8F8F8F, inset 2px 2px 0px 0px #FFFFFF;
          box-shadow: inset -2px -2px 0px 0px #8F8F8F, inset 2px 2px 0px 0px #FFFFFF;
  background-color: #B4B4B4;
}

.imput_buscar .head {
  height: 24px;
  background: -webkit-gradient(linear, left top, right top, from(#2e32fb), to(#ee3eef));
  background: linear-gradient(to right, #2e32fb 0%, #ee3eef 100%);
  width: 1194px;
  position: relative;
  top: 3px;
  margin-left: 3px;
}

.imput_buscar .head p {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding-left: 3px;
  color: #FFFFFF;
}

.imput_buscar .buscarContainer {
  height: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1057px 102px;
      grid-template-columns: 1057px 102px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imput_buscar .buscarContainer .imput_text {
  outline: none;
  margin-left: 15px;
  border: 1px solid #979797;
  height: 48px;
  -webkit-box-shadow: inset -2px -2px 0px 0px #E6E6E6, inset 2px 2px 0px 0px #000000;
          box-shadow: inset -2px -2px 0px 0px #E6E6E6, inset 2px 2px 0px 0px #000000;
}

.imput_buscar .buscarContainer ::-webkit-input-placeholder {
  font-size: 16px;
  color: #B4B4B4;
  opacity: 0.8;
}

.imput_buscar .buscarContainer :-ms-input-placeholder {
  font-size: 16px;
  color: #B4B4B4;
  opacity: 0.8;
}

.imput_buscar .buscarContainer ::-ms-input-placeholder {
  font-size: 16px;
  color: #B4B4B4;
  opacity: 0.8;
}

.imput_buscar .buscarContainer ::placeholder {
  font-size: 16px;
  color: #B4B4B4;
  opacity: 0.8;
}

.imput_buscar .buscarContainer .btn_buscar {
  margin-left: 8px;
  width: 102px;
  height: 36px;
  background-color: #b4b4b4;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0px 0px #B4B4B4 , inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #B4B4B4 , inset 1px 1px 0px 0px #FFFFFF;
}

.imput_buscar .buscarContainer .btn_buscar p {
  color: #8f8f8f;
  opacity: 0.8;
  font-size: 16px;
}

.imput_buscar .buscarContainer .btn_buscar p::before {
  content: url(./../assets/combined_Shape.svg);
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 3px;
  width: 20px;
  opacity: 0.3;
}

.imput_buscar:focus-within .btn_buscar {
  outline: none;
  background-color: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0px 0px #A72CB3 , inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #A72CB3 , inset 1px 1px 0px 0px #FFFFFF;
}

.imput_buscar:focus-within .btn_buscar:hover {
  cursor: pointer;
}

.imput_buscar:focus-within .btn_buscar P {
  color: #FFFFFF;
}

.imput_buscar:focus-within .btn_buscar P::before {
  content: url(../assets/lupa_light.svg);
  opacity: 0.8;
}

.imput_buscar .buscarContainer {
  position: relative;
}

.imput_buscar .buscarContainer .imput_text {
  font-size: 16px;
  color: #110038;
  padding-left: 16px;
}

.imput_buscar .buscarContainer .listaSugeridaContent {
  -webkit-box-shadow: inset -2px -2px 0px 0px #8F8F8F, inset 2px 2px 0px 0px #FFFfff;
          box-shadow: inset -2px -2px 0px 0px #8F8F8F, inset 2px 2px 0px 0px #FFFfff;
  background-color: #B4B4B4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1055px;
      grid-template-columns: 1055px;
  -ms-grid-rows: 34px 34px 34px;
      grid-template-rows: 34px 34px 34px;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 11px;
  position: absolute;
  top: 75px;
  display: none;
  z-index: 3;
  width: 1200px;
  height: 160px;
}

.imput_buscar .buscarContainer .listaSugeridaContent li {
  list-style: none;
}

.imput_buscar .buscarContainer .listaSugeridaContent .resultadoSugerido {
  outline: none;
  width: 100%;
  height: 100%;
  margin-left: 16px;
  font-size: 16px;
  background-color: #CCCCCC;
  border: 1px solid #808080;
  text-align: left;
  -webkit-box-shadow: inset -1px -1px 0px 0px #b4b4b4 , inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #b4b4b4 , inset 1px 1px 0px 0px #FFFFFF;
}

.imput_buscar .buscarContainer .listaSugeridaContent .resultadoSugerido p {
  padding-left: 16px;
}

.imput_buscar .buscarContainer .listaSugeridaContent .resultadoSugerido:hover {
  cursor: pointer;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.imput_buscar .buscarContainer .resultadoBusquedaContent {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  overflow: hidden;
  top: 84px;
}

.imput_buscar .buscarContainer .resultadoBusquedaContent li {
  height: 34px;
  list-style: none;
  margin-right: 8px;
}

.imput_buscar .buscarContainer .resultadoBusquedaContent li .resultadoBusqueda {
  padding: 8px 7px;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -1px -1px 0px 0px #284F99 , inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #284F99 , inset 1px 1px 0px 0px #FFFFFF;
}

.imput_buscar .buscarContainer .resultadoBusquedaContent li .resultadoBusqueda:hover {
  cursor: pointer;
}

.imput_buscar .buscarContainer .btn_buscar:active {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.sugerimosContainer {
  height: 425px;
  width: 1200px;
  margin: 64px auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 288px 288px 288px 288px;
      grid-template-columns: 288px 288px 288px 288px;
  -ms-grid-rows: 32px 313px;
      grid-template-rows: 32px 313px;
  grid-row-gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sugerimosContainer .sugerimos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fffafe;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 /5;
  border: 1px solid #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0px 0px #E6DCE4, inset 2px 2px 0px 0px #110038;
          box-shadow: inset -2px -2px 0px 0px #E6DCE4, inset 2px 2px 0px 0px #110038;
}

.sugerimosContainer .sugerimos h2 {
  padding-left: 7px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #110038;
}

.sugerimosContainer .gifos {
  background-color: #B4B4B4;
  height: 313px;
  -webkit-box-shadow: inset -2px -2px 0px 0px #5C5C5C, inset 2px 2px 0px 0px #FFFFFF;
          box-shadow: inset -2px -2px 0px 0px #5C5C5C, inset 2px 2px 0px 0px #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sugerimosContainer .gifos:hover .gif_imagen {
  outline: 1px dotted #110038;
  outline-offset: -1px;
}

.sugerimosContainer .gifos:hover .gif_imagen .gif_vermas {
  outline: 1px dotted #110038;
  outline-offset: -3px;
}

.sugerimosContainer .gifos .gif_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  width: 280px;
  margin-top: 3px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#2e32fb), to(#ee3eef));
  background: linear-gradient(to right, #2e32fb 0%, #ee3eef 100%);
}

.sugerimosContainer .gifos .gif_titulo span {
  display: inline-block;
  margin-left: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

.sugerimosContainer .gifos .gif_titulo .gif_close {
  outline: none;
  border: none;
  width: 16px;
  height: 14px;
  margin-right: 8px;
  background-image: url(./../assets/close.svg);
}

.sugerimosContainer .gifos .gif_titulo .gif_close:hover {
  cursor: pointer;
}

.sugerimosContainer .gifos .gif_imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 280px;
  height: 280px;
  position: relative;
}

.sugerimosContainer .gifos .gif_imagen img {
  width: 100%;
  height: 100%;
}

.sugerimosContainer .gifos .gif_imagen .gif_vermas {
  outline: none;
  position: absolute;
  background-color: #2E32FB;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -1px -1px 0px 0px #2124B3, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #2124B3, inset 1px 1px 0px 0px #FFFFFF;
  font-size: 14px;
  color: #FFFFFF;
  width: 81px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 7px;
  bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sugerimosContainer .gifos .gif_imagen .gif_vermas:hover {
  cursor: pointer;
}

.tendenciasContainer {
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 294px 294px 294px 294px;
      grid-template-columns: 294px 294px 294px 294px;
  -ms-grid-rows: 37px 304px 304px 304px;
      grid-template-rows: 37px 304px 304px 304px;
  grid-row-gap: 11px;
  grid-column-gap: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tendenciasContainer .tendencias_txt {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fffafe;
  border: 1px solid #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0px 0px #E6DCE4, inset 2px 2px 0px 0px #110038;
          box-shadow: inset -2px -2px 0px 0px #E6DCE4, inset 2px 2px 0px 0px #110038;
  margin-bottom: 5px;
}

.tendenciasContainer .tendencias_txt h2 {
  padding-left: 7px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #110038;
}

.tendenciasContainer .gif_tendencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tendenciasContainer .gif_tendencias:hover {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0px 0px #5C5C5C, inset 2px 2px 0px 0px #FFFFFF;
          box-shadow: inset -2px -2px 0px 0px #5C5C5C, inset 2px 2px 0px 0px #FFFFFF;
}

.tendenciasContainer .gif_tendencias:hover img {
  cursor: pointer;
  outline: 1px dotted #110038;
  outline-offset: -1px;
}

.tendenciasContainer .gif_tendencias img {
  width: 288px;
  height: 298px;
}

.misGifosCont {
  position: relative;
  margin-top: 64px;
}

.misGifosCont #misGifosTitulo {
  position: absolute;
  top: -150px;
}

.icon_btnsEnCaptura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.icon_btnsEnCaptura .logoVolver {
  position: absolute;
  left: -35px;
  top: 45px;
}

.inicio {
  display: block;
}

.creandoGifosCont {
  width: 684px;
  height: 386px;
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0px 0px #8F8F8F, inset 2px 2px 0px 0px #FFFFFF;
          box-shadow: inset -2px -2px 0px 0px #8F8F8F, inset 2px 2px 0px 0px #FFFFFF;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.creandoGifosCont .creandoGifosTit {
  width: 678px;
  height: 24px;
  margin: auto;
  margin-top: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#2e32fb), to(#ee3eef));
  background: linear-gradient(to right, #2e32fb 0%, #ee3eef 100%);
}

.creandoGifosCont .creandoGifosTit p {
  display: inline-block;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  padding-left: 4px;
}

.creandoGifosCont .creandoGifosTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.creandoGifosCont .creandoGifosTexto h3 {
  font-weight: bold;
  color: #110038;
  display: block;
  margin-left: 73px;
  margin-top: 30px;
  position: relative;
}

.creandoGifosCont .creandoGifosTexto h3::before {
  content: url(../assets/window_img.png);
  position: absolute;
  left: -48px;
  width: 32px;
  height: 32px;
}

.creandoGifosCont .creandoGifosTexto .creandoGifosInstrucciones {
  width: 518px;
  height: 190px;
  margin-top: 17px;
  margin-left: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.creandoGifosCont .creandoGifosTexto .creandoGifosInstrucciones .italicGuifos {
  font-weight: bold;
  font-style: italic;
}

.creandoGifosCont .creandoGifosTexto .creandoGifosInstrucciones ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 127px;
}

.creandoGifosCont .creandoGifosTexto .creandoGifosInstrucciones ol li {
  list-style: none;
  width: 100%;
  display: inline-block;
}

.creandoGifosCont .creandoGifosTexto .creandoGifosInstrucciones ol li span {
  font-weight: bold;
}

.creandoGifosCont .creandoGifosTexto .creandoGifosButtons {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
}

.creandoGifosCont .creandoGifosTexto .creandoGifosButtons .creandoGifosCancelar {
  background-color: #CCCCCC;
  outline: none;
  width: 144px;
  height: 36px;
  border: 1px solid #808080;
  margin-right: 16px;
  -webkit-box-shadow: inset -1px -1px 0px 0px #B4B4B4, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #B4B4B4, inset 1px 1px 0px 0px #FFFFFF;
  font-size: 16px;
}

.creandoGifosCont .creandoGifosTexto .creandoGifosButtons .creandoGifosCancelar a {
  text-decoration: none;
}

.creandoGifosCont .creandoGifosTexto .creandoGifosButtons .creandoGifosCancelar:hover {
  cursor: pointer;
}

.creandoGifosCont .creandoGifosTexto .creandoGifosButtons .creandoGifosComenzar {
  background-color: #EE3EFE;
  outline: none;
  width: 144px;
  height: 36px;
  border: 1px solid #110038;
  margin-right: 16px;
  -webkit-box-shadow: inset -1px -1px 0px 0px #A72CB3, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #A72CB3, inset 1px 1px 0px 0px #FFFFFF;
  font-size: 16px;
}

.creandoGifosCont .creandoGifosTexto .creandoGifosButtons .creandoGifosComenzar:hover {
  cursor: pointer;
}

.enCaptura {
  display: none;
}

.chequeoCont {
  width: 860px;
  height: 548px;
}

.chequeoCont .chequeoTitulo {
  width: 854px;
  height: 24px;
}

.chequeoCont .chequeoImagenCont {
  width: 838px;
  height: 440px;
  border: 1px solid #979797;
  background-color: #FFFFFF;
  -webkit-box-shadow: inset -2px -2px 0px 0px #E6E6E6, inset 2px 2px 0px 0px #000000;
          box-shadow: inset -2px -2px 0px 0px #E6E6E6, inset 2px 2px 0px 0px #000000;
  margin: auto;
  margin-top: 8px;
}

.chequeoCont .chequeoImagenCont .chequeoImagen {
  width: 832px;
  height: 434px;
  margin: auto;
  margin-top: 3px;
}

.chequeoCont .chequeoImagenCont .chequeoImagen .display {
  width: 580px;
  height: 100%;
}

.btn-Capturar {
  display: block;
  background-color: #EE3EFE;
  color: #FFFFFF;
  outline: none;
  width: 144px;
  height: 38px;
  border: 1px solid #110038;
  margin-right: 16px;
  -webkit-box-shadow: inset -1px -1px 0px 0px #A72CB3, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #A72CB3, inset 1px 1px 0px 0px #FFFFFF;
  font-size: 16px;
  position: relative;
}

.btn-Capturar:hover {
  cursor: pointer;
}

.btn-Capturar::before {
  content: url(../assets/camera_light.svg);
  background-color: #EE3EFE;
  position: absolute;
  top: -1px;
  left: -38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset -1px -1px 0px 0px #997D97, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #997D97, inset 1px 1px 0px 0px #FFFFFF;
  width: 36px;
  border: 1px solid #110038;
  height: 31px;
  padding-top: 5px;
}

.timer {
  display: none;
  width: 124px;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 11px;
  margin-right: 550px;
  border: 1px solid #979797;
  background-color: #FFFFFF;
  -webkit-box-shadow: inset -2px -2px 0px 0px #E6E6E6, inset 1px 1px 0px 0px #000000;
          box-shadow: inset -2px -2px 0px 0px #E6E6E6, inset 1px 1px 0px 0px #000000;
}

.btn-listo {
  display: none;
  background-color: #FF6161;
  color: #FFFFFF;
  outline: none;
  border: 1px solid #110038;
  margin-right: 16px;
  font-size: 16px;
  margin-top: 3px;
  width: 144px;
  height: 38px;
  position: relative;
  -webkit-box-shadow: inset -1px -1px 0px 0px #993A3A, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #993A3A, inset 1px 1px 0px 0px #FFFFFF;
}

.btn-listo:hover {
  cursor: pointer;
}

.btn-listo::before {
  background-color: #FF6161;
  content: url(../assets/recording.svg);
  position: absolute;
  top: -1px;
  left: -38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0px 0px #993A3A, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #993A3A, inset 1px 1px 0px 0px #FFFFFF;
  height: 31px;
  padding-top: 5px;
}

.btn-SubirGifo {
  display: none;
  background-color: #EE3EFE;
  color: #FFFFFF;
  outline: none;
  width: 144px;
  height: 36px;
  border: 1px solid #110038;
  margin-right: 16px;
  -webkit-box-shadow: inset -1px -1px 0px 0px #997D97, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #997D97, inset 1px 1px 0px 0px #FFFFFF;
  font-size: 16px;
}

.btn-SubirGifo:hover {
  cursor: pointer;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.btn-RepetirCaptura {
  display: none;
  background-color: #110038;
  color: #FFFFFF;
  outline: none;
  width: 144px;
  height: 36px;
  border: 1px solid #B4B4B4;
  margin-right: 16px;
  -webkit-box-shadow: inset -1px -1px 0px 0px #5C5C5C , inset 1px 1px 0px 0px #FFF4FD;
          box-shadow: inset -1px -1px 0px 0px #5C5C5C , inset 1px 1px 0px 0px #FFF4FD;
  font-size: 16px;
}

.btn-RepetirCaptura:hover {
  cursor: pointer;
  background-color: #110038;
  outline: 1px dotted #FFFFFF;
  outline-offset: -4px;
}

.creandoGifosTexto .vistaCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.creandoGifosTexto .vistaCont .barraProgreso {
  display: none;
  width: 240px;
  height: 24px;
  margin-right: 119px;
  background-color: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0px 0px #000000, inset -2px -2px 0px 0px #FFFCFC;
          box-shadow: inset 2px 2px 0px 0px #000000, inset -2px -2px 0px 0px #FFFCFC;
  -ms-grid-columns: 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px;
      grid-template-columns: 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px;
  -ms-grid-rows: 20px;
      grid-template-rows: 20px;
  grid-column-gap: 2px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creandoGifosTexto .vistaCont .timer {
  margin-right: 24px;
}

.vistaPlay {
  display: none;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background-color: #F7C9F3;
  position: relative;
}

.vistaPlay::before {
  content: url(../assets/forward.svg);
  position: absolute;
  top: 1px;
  left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chequeoTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chequeoTitulo .btn-Close {
  width: 16px;
  height: 16px;
  outline: none;
  border: none;
  margin-right: 10px;
}

.chequeoTitulo .btn-Close:hover {
  cursor: pointer;
}

.chequeoTitulo .btn-Close::before {
  content: url(../assets/button3.svg);
}

.chequeoImagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
}

.chequeoImagen .esperaSubiendo {
  height: 163px;
  width: 324px;
  margin-top: 139px;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chequeoImagen .esperaSubiendo .globoTerraqueo {
  width: 100%;
  height: 48px;
  text-align: center;
  margin-bottom: 8px;
}

.chequeoImagen .esperaSubiendo .globoTerraqueo::after {
  content: url(../assets/globe_img.png);
}

.chequeoImagen .esperaSubiendo .txt1 {
  font-weight: bold;
  display: block;
  margin-bottom: 39px;
}

.chequeoImagen .esperaSubiendo .barraProgreso {
  width: 324px;
  height: 24px;
  padding-left: 2px;
  position: relative;
  background-color: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0px 0px #000000, inset -2px -2px 0px 0px #FFFCFC;
          box-shadow: inset 2px 2px 0px 0px #000000, inset -2px -2px 0px 0px #FFFCFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 8px;
}

.chequeoImagen .esperaSubiendo .barraProgreso .barraProgCarga {
  position: absolute;
  max-width: 321px;
  background-color: #F7C9F3;
  height: 20px;
}

.chequeoImagen .esperaSubiendo .barraProgreso .barrasVert {
  z-index: 1;
  margin-left: 12px;
  height: 20px;
  width: 2px;
  background-color: #B4B4B4;
}

.chequeoImagen .esperaSubiendo .txt2 {
  display: block;
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
}

.chequeoImagen .esperaSubiendo .txt2 span {
  text-decoration: line-through;
}

.btn-Cancelar {
  display: none;
  background-color: #CCCCCC;
  outline: none;
  width: 144px;
  height: 36px;
  border: 1px solid #808080;
  margin-right: 16px;
  -webkit-box-shadow: inset -1px -1px 0px 0px #B4B4B4, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #B4B4B4, inset 1px 1px 0px 0px #FFFFFF;
  font-size: 16px;
}

.btn-Cancelar:hover {
  cursor: pointer;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.exito {
  display: none;
}

.exitoCont {
  width: 721px;
  height: 391px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.exitoCont .creandoGifosTit {
  width: 715px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exitoCont .creandoGifosTit .closeExito {
  width: 16px;
  height: 14px;
  margin: 7px;
  border: none;
}

.exitoCont .creandoGifosTit .closeExito:hover {
  cursor: pointer;
}

.exitoCont .creandoGifosTit .closeExito::before {
  content: url(../assets/button3.svg);
}

.exitoCont .exitoElementos {
  margin-left: 24px;
  margin-top: 27px;
  width: 653px;
  height: 293px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exitoCont .exitoElementos .gifoPrevis {
  width: 371px;
  height: 250px;
  border: 1px solid #979797;
  background-color: #FFFFFF;
  -webkit-box-shadow: inset -2px -2px 0px 0px #E6E6E6, inset 2px 2px 0px 0px #000000;
          box-shadow: inset -2px -2px 0px 0px #E6E6E6, inset 2px 2px 0px 0px #000000;
}

.exitoCont .exitoElementos .gifoPrevis img {
  width: 100%;
  height: 100%;
}

.exitoCont .exitoElementos .creandoGifosButtons {
  width: 280px;
  height: 293px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.exitoCont .exitoElementos .creandoGifosButtons p {
  font-weight: bold;
  display: inline-block;
  margin-left: 24px;
  margin-top: 20px;
}

.exitoCont .exitoElementos .creandoGifosButtons .btn-copiarExito {
  margin-top: 16px;
  margin-left: 24px;
  margin-bottom: 16px;
  background-color: #CCCCCC;
  outline: none;
  width: 256px;
  height: 36px;
  border: 1px solid #808080;
  margin-right: 16px;
  -webkit-box-shadow: inset -1px -1px 0px 0px #B4B4B4, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #B4B4B4, inset 1px 1px 0px 0px #FFFFFF;
  font-size: 16px;
}

.exitoCont .exitoElementos .creandoGifosButtons .btn-copiarExito:hover {
  cursor: pointer;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.exitoCont .exitoElementos .creandoGifosButtons .btn-descargarExito {
  margin-left: 24px;
  margin-bottom: 16px;
  background-color: #CCCCCC;
  outline: none;
  width: 240px;
  height: 36px;
  border: 1px solid #808080;
  margin-right: 16px;
  -webkit-box-shadow: inset -1px -1px 0px 0px #B4B4B4, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #B4B4B4, inset 1px 1px 0px 0px #FFFFFF;
  font-size: 16px;
}

.exitoCont .exitoElementos .creandoGifosButtons .btn-descargarExito:hover {
  cursor: pointer;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.exitoCont .exitoElementos .creandoGifosButtons .btn-listoExito {
  margin-top: 111px;
  width: 144px;
  color: #FFFFFF;
  margin-left: 136px;
  background-color: #EE3EFE;
  outline: none;
  width: 144px;
  height: 36px;
  border: 1px solid #110038;
  margin-right: 16px;
  -webkit-box-shadow: inset -1px -1px 0px 0px #997D97, inset 1px 1px 0px 0px #FFFFFF;
          box-shadow: inset -1px -1px 0px 0px #997D97, inset 1px 1px 0px 0px #FFFFFF;
  font-size: 16px;
}

.exitoCont .exitoElementos .creandoGifosButtons .btn-listoExito:hover {
  cursor: pointer;
}

.exitoMargenSup {
  margin-top: 180px;
}
/*# sourceMappingURL=stylesNight.css.map */